h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

.homepage {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.body {
 color: #333;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media (min-width: 768px) {
  .homepage {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
  }

  .main-content {
    flex: 2;
  }

  .speakerSection {
    flex: 1;
    margin-top: 0;
  }
}

.nav-buttons {
  background-color: #007bff;
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  display: inline-block;
  min-width: 100px;
  text-align: center;
  gap: 30px;
}

button {
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  color: white;
  background-color: #007bff;
  border-radius: 6px;
  padding: 10px 10px;
  font-size: 14px;
  font-weight: 200;
  flex: 1;
}
button:hover:not(:disabled) {
  opacity: 0.9;
}
button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.danger-button {
  background-color: #EF4444;
  color: white;
}
.btn-start {
  background-color: #28a745; /* green */
}
.btn-pause {
  background-color: #fd7e14; /* orange */
}
.btn-stop {
  background-color: #8b0000; /* red */
}


input, select, textarea {
  padding: 10px;
  font-size: 16px;
  margin-top: 5px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.note {
  font-size: 14px;
  color: #555;
  margin-top: 10px;
  margin-bottom: 10px;
}

.playground {
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1)
}

#timer {
  font-size: 60px;
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
}
.row-group {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex-direction: row;
  width: 100%;
}